@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --bg-light: hsl(0, 0%, 100%);
    --bg-pizzas: hsl(0, 100%, 65%);
    --bg-empanadas: hsl(33, 100%, 62%);
    --bg-drinks: hsl(195, 76%, 61%);
    --bg-desserts: hsl(345, 100%, 70%);

    --header-height: 23rem;
}

/* ========== GERAL ============*/
html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;

    background-color: var(--bg-light);
}

.container{
    max-width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

img{
    width: 100%;
}

/* ========== HEADER ============*/

header{
    height: var(--header-height);
    padding-top: 3.1rem;
    padding-bottom: 1.2rem;

    background-color: var(--bg-light);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar button{
    background: none;
    border: none;
    cursor: pointer;
}

.description{
    margin-top: 2.8rem;
    margin-bottom: 2.3rem;
}

header h4{
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: hsl(0, 0%, 21%);    
}

header p{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: hsl(0, 0%, 65%);
}

#categories ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#categories button{
    background: none;
    border: none;
    cursor: pointer;
}

#categories button.bg-pizzas:hover svg rect{
    fill: var(--bg-pizzas);
}

#categories button.bg-empanadas:hover svg rect{
    fill: var(--bg-empanadas);
}

#categories button.bg-drinks:hover svg rect{
    fill: var(--bg-drinks);
}

#categories button.bg-desserts:hover svg rect{
    fill: var(--bg-desserts);
}

section{
    margin-bottom: 3.7rem;
}

/* ========== CARDS ============*/
#section-pizzas{
    padding-top: calc(3.7rem + var(--header-height));
}
section .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
}

section .card{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

section .card img{
    margin-bottom: 1.8rem;
}

section .card p{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: hsl(0, 0%, 38%);

    margin-left: .843rem;
}

section .card span{
    font-weight: 600;
    font-size: 1.4rem;
    color: #FF4E4E;
}

section .card a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;
    color: hsl(0, 0%, 68%);
    border: 1px solid hsl(0, 0%, 82%);

    text-decoration: none;
    border-radius: 1.3rem;
    margin-left: auto;
    margin-right: .7rem;
    margin-bottom: .8rem;
}

section .card a:hover{
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 68%);
}